h1 {
  color: red;
  font-size: 200px;
}


img:hover {
  background-color: gold;
}

body {
  background-color: black;
}

p {
  color: white;
  text-align: center;
}

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

#heading {
  color: white;
}
